:host ::ng-deep .p-dropdown {
  width: 100%;
}

:host ::ng-deep .p-dropdown-label {
  padding: 0.65625rem;
}

:host ::ng-deep .p-element.p-dropdown-label.p-inputtext.p-placeholder {
  font-size: 0.75rem !important;
  font-weight: 400;
}
