/* DROPDOWN */
:host ::ng-deep .p-dropdown {
  width: 100%;
}

:host ::ng-deep .p-dropdown-label {
  padding: 0.65625rem;
}

:host ::ng-deep .p-dropdown-label.p-inputtext.p-placeholder.ng-star-inserted {
  font-size: 0.75rem !important;
  font-weight: 400;
}

:host ::ng-deep .p-inputtext.p-component {
  font-size: 0.75rem !important;
  font-weight: 400;
  padding: 0.65625rem;
}

:host ::ng-deep .ng-star-inserted {
  font-size: 0.75rem !important;
  font-weight: 400;
}
