.transaction-dropdown-placeholder {
  @apply flex items-center justify-between gap-1 w-[28.5rem] bg-gray-100 rounded-md px-5 py-[0.625rem] border border-[#CED4DA] cursor-pointer;
}

/* DROPDOWN */
:host ::ng-deep .p-dropdown {
  width: 100%;
}

:host ::ng-deep .p-dropdown-label {
  padding: 0.65625rem;
}

:host ::ng-deep .p-dropdown-label.p-inputtext.p-placeholder.ng-star-inserted {
  font-size: 0.75rem !important;
  font-weight: 400;
}

:host ::ng-deep .p-calendar {
  width: 100%;
}

:host ::ng-deep .p-inputtext.p-component {
  font-size: 0.75rem !important;
  font-weight: 400;
  padding: 0.65625rem;
}

:host ::ng-deep .ng-star-inserted {
  font-size: 0.75rem !important;
  font-weight: 400;
}

:host ::ng-deep .p-datepicker-trigger {
  position: absolute;
  right: 0;
  border: none;
  background-color: transparent !important;
}

:host ::ng-deep calendaricon {
  color: #6c757d;
}
